#map svg {
	width: 81.5%;
}

.img-svg {
	fill: #42aaff;
}

.img-svg path:hover {
	fill: #87ceeb;
}

#cc {
	display: flex;
	justify-content: center;
}

#size-controller {
	display: flex;
	flex-flow: column;
	width: 20px;
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	cursor: pointer;
	position: absolute;
	top: 8%;
	left: 25%;
}

#size-controller img {
	border-bottom: 1px solid white;
}